<!-- Footer strat -->
<footer class="footer">
    <div class="foo-btm">
        <div class="container">
            <p class="copyright text-center">
                Copyright © 2020
                Farmer's Fight. All rights reserved.
            </p>
        </div>
    </div>
</footer>
<!-- Footer end -->