<!-- Header strat -->
<header class="header">
    <div class="container">
        <nav class="navbar">
            <!-- Site logo -->
            <a href="/">
                <h3>Farmer's Fight</h3>
            </a>
            <a href="javascript:void(0);" id="mobile-menu-toggler">
                <i class="ti-align-justify"></i>
            </a>
            <ul class="navbar-nav">
                <li class="current-menu-item"><a href="/">Home</a>
                <li><a href="/about">About us</a></li>
                <li><a href="#">Features</a></li>
                <li><a href="/faq">FAQ</a></li>
            </ul>
        </nav>
    </div>
</header>
<!-- Header strat -->