<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- All CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="assets/css/all.min.css"/>
    <link rel="stylesheet" href="assets/css/themify-icons.css"/>
    <link rel="stylesheet" href="assets/css/circularStd-font.css"/>
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css"/>
    <link rel="stylesheet" href="assets/css/jquery.fancybox.min.css"/>
    <link rel="stylesheet" href="assets/css/style.css"/>

    <title>Farmer's Fight</title>
</head>
<body>

<%- include('partials/header') %>

<section class="banner">
    <div
            class="container-fluid
            "
    >
        <div class="row align-items-center">
            <div class="col-md-6 order-1 order-md-0">
                <div class="content-box-fluid right">
                    <h2>
                        404 Not Found
                    </h2>
                    <p style="margin-bottom: 5%;">
                        This is not what you're looking for.
                    </p>
                </div>
            </div>
            <div class="col-md-6 order-0 order-md-1">
                <figure class="ban-img">
                    <img src="assets/images/404.png" alt=""/>
                </figure>
            </div>
        </div>
    </div>
</section>

<%- include('partials/footer') %>

<!-- JS -->
<script src="assets/js/jquery-3.3.1.min.js"></script>
<script src="assets/js/jquery-ui.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/owl.carousel.min.js"></script>
<script src="assets/js/jquery.fancybox.min.js"></script>
<script src="assets/js/scripts.js"></script>
</body>
</html>