<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- All CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="assets/css/all.min.css"/>
    <link rel="stylesheet" href="assets/css/themify-icons.css"/>
    <link rel="stylesheet" href="assets/css/circularStd-font.css"/>
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css"/>
    <link rel="stylesheet" href="assets/css/jquery.fancybox.min.css"/>
    <link rel="stylesheet" href="assets/css/style.css"/>

    <title>Farmer's Fight</title>
</head>
<body>

<%- include('partials/header') %>

<!-- Banner section start -->
<section class="banner">
    <div
            class="container-fluid
            "
    >
        <div class="row align-items-center">
            <div class="col-md-6 order-1 order-md-0">
                <div class="content-box-fluid right">
                    <h2>
                        Headline
                    </h2>
                    <p style="margin-bottom: 5%;">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.
                    </p>
                    <a href="#" class="btn btn-filled" style="margin-top: 0px;">
                        <span>Try Now</span>
                    </a>
                </div>
            </div>
            <div class="col-md-6 order-0 order-md-1">
                <figure class="ban-img">
                    <img src="assets/images/art-work/1.png" alt=""/>
                </figure>
            </div>
        </div>
    </div>
</section>
<!-- Banner section end -->

<!-- Features section start -->
<section class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 m-auto">
                <div class="sec-heading text-center">
                    <span class="tagline">Features</span>
                    <h2 class="sec-title">
                        Subheadline
                    </h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="iconBox text-center">
                    <img
                            src="assets/images/icons/features/1.png"
                            alt=""
                            class="img-icon"
                    />
                    <h5><a href="#">Fast Performance</a></h5>
                    <p>
                        Egestas maecenas pharetra convallis posuere morbi leo urna molestie at.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="iconBox text-center">
                    <img
                            src="assets/images/icons/features/2.png"
                            alt=""
                            class="img-icon"
                    />
                    <h5>Easy To Customize</h5>
                    <p>
                        Nulla pellentesque dignissim enim sit.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="iconBox text-center">
                    <img
                            src="assets/images/icons/features/3.png"
                            alt=""
                            class="img-icon"
                    />
                    <h5>Connect Network</h5>
                    <p>
                        Elementum integer enim neque volutpat ac tincidunt vitae semper quis.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Features section end -->

<!-- Content Section start -->
<section class="content-sec-2col">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <figure class="imgBox mb-5">
                    <img src="assets/images/art-work/2.png" alt=""/>
                </figure>
            </div>
            <div class="col-md-6">
                <div class="content-box">
                    <span class="tagline">Social Tools</span>
                    <h2>Driving the most transactions data</h2>
                    <p>
                        In est ante in nibh mauris. Imperdiet nulla malesuada pellentesque elit. Ipsum nunc aliquet
                        bibendum enim facilisis gravida neque convallis.
                    </p>
                    <p>
                        Donec adipiscing tristique risus nec feugiat in fermentum. Morbi leo urna molestie at elementum
                        eu facilisis sed odio.
                        Vitae elementum curabitur vitae nunc sed velit dignissim.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Content Section end -->

<!-- Content Section start -->
<section class="content-sec-2col">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="content-box mb-5">
                    <span class="tagline">Digital Solution</span>
                    <h2>More data solutions to aid the government</h2>
                    <p class="mb-4">
                        Lacus viverra vitae congue eu consequat ac felis donec. Ultricies lacus sed turpis tincidunt id
                        aliquet risus feugiat in. Mauris in aliquam sem fringilla ut morbi tincidunt augue. Senectus et
                        netus et malesuada fames ac turpis. Lacinia quis vel eros donec ac odio.
                    </p>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="iconBox">
                                        <span
                                                class="icon"
                                                style="background-color: #fcd8e1;"
                                        >
                                            <img
                                                    class="img-icon"
                                                    src="assets/images/icons/settings.png"
                                                    alt=""
                                            />
                                        </span>
                                <h5>Easy Settings</h5>
                                <p>
                                    Sem nulla pharetra diam sit amet nisl suscipit adipiscing.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="iconBox">
                                        <span
                                                class="icon"
                                                style="background-color: #dde8fa;"
                                        >
                                            <img
                                                    class="img-icon"
                                                    src="assets/images/icons/lock.png"
                                                    alt=""
                                            />
                                        </span>
                                <h5>Strong Security</h5>
                                <p>
                                    Massa tincidunt dui ut ornare lectus sit amet est placerat.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <figure class="imgBox">
                    <img src="assets/images/art-work/3.png" alt=""/>
                </figure>
            </div>
        </div>
    </div>
</section>
<!-- Content Section end -->

<!-- Product screenshot start -->
<section class="app-screens">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-9 m-auto text-center">
                <div class="sec-heading">
                    <span class="tagline">Product Screenshots</span>
                    <h3 class="sec-title">
                        User friendly design that you <br/>
                        can browse easily
                    </h3>
                </div>
            </div>
        </div>
        <div class="app-caro owl-carousel">
            <figure>
                <img src="assets/images/app-screens/1.jpg" alt=""/>
            </figure>
            <figure>
                <img src="assets/images/app-screens/2.jpg" alt=""/>
            </figure>
            <figure>
                <img src="assets/images/app-screens/3.jpg" alt=""/>
            </figure>
            <figure>
                <img src="assets/images/app-screens/4.jpg" alt=""/>
            </figure>
            <figure>
                <img src="assets/images/app-screens/5.jpg" alt=""/>
            </figure>
        </div>
    </div>
</section>
<!-- Product screenshot end -->

<!-- Content Section start -->
<section class="content-sec-2col">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <figure class="imgBox mb-5 mb-md-0">
                    <img src="assets/images/art-work/4.png" alt=""/>
                </figure>
            </div>
            <div class="col-md-6">
                <div class="content-box">
                    <span class="tagline">No downloads required</span>
                    <h2>All in your browser</h2>
                    <p>
                        Nunc vel risus commodo viverra maecenas accumsan lacus. Fringilla urna porttitor rhoncus dolor.
                        Id volutpat lacus laoreet non curabitur. Egestas congue quisque egestas diam in arcu. Curabitur
                        gravida arcu ac tortor dignissim convallis aenean.
                    </p>
                    <a href="#" class="btn btn-filled">Explore Now</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Content Section end -->

<%- include('partials/footer') %>

<!-- JS -->
<script src="assets/js/jquery-3.3.1.min.js"></script>
<script src="assets/js/jquery-ui.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/owl.carousel.min.js"></script>
<script src="assets/js/jquery.fancybox.min.js"></script>
<script src="assets/js/scripts.js"></script>
</body>
</html>